html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/InterRegular.woff2");
  font-display: swap;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 50px;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  background: black;
}

.panel {
  display: flex;
  margin: 0;
  padding: 16px;
  list-style: none;
  gap: 12px;
  background: #FFF;
  border-radius: 16px;
}

.panel__btn {
  display: inline-flex;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  padding: 12px 24px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  color: #111827;
  cursor: pointer;
  transition: border-color 0.3s, color 0.3s, background 0.3s;
}

.panel__btn:hover {
  border-color: #523EE8;
  color: #FFF;
  background: #523EE8;
}

.panel__btn--active {
  border-color: #523EE8;
  color: #FFF;
  background: #523EE8;
  pointer-events: none;
}